<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="domain.hackathon.hackathon2017">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Pet Saver"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".search" />
        <activity android:name=".Pet_description" />
        <activity android:name=".ShelterInfo" />
        <activity android:name=".Favorite" />
        <activity android:name=".Home" />
        <activity android:name=".Fav_Desc" />
        <activity android:name=".createLoginatstart" />
        <activity android:name=".resetpassword" />
        <activity android:name=".Login" />
        <activity android:name=".info" />
        <activity android:name=".Fav_ShelterInfo"></activity>
    </application>

</manifest>